@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.lucide {
  display: none;
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h4 {
    @apply text-xl md:text-xl lg:text-2xl font-semibold;
  }
  h5 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h6 {
    @apply text-base md:text-lg lg:text-xl font-semibold;
  }
  /* Add responsive styles for other headings */
}

/* SAMPLE */
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
