@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.lucide {
  display: none;
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h4 {
    @apply text-xl md:text-xl lg:text-2xl font-semibold;
  }
  h5 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h6 {
    @apply text-base md:text-lg lg:text-xl font-semibold;
  }
  /* Add responsive styles for other headings */
}

/* SAMPLE */
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* To focus your eye on the table cell that has changed */
@keyframes rotating-dots {
  0% {
    transform: rotate(0deg);
    outline: 3px dotted rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: rotate(360deg);
    outline: 3px dotted rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: rotate(360deg);
    outline: 3px dotted rgba(0, 0, 0, 0.05);
  }
}

.rotating-outline {
  position: relative;
  /* display: grid; */
  width: 100%;
  height: 100%;
  /* color: white; */
  /* opacity: 0.4; */
  background-color: rgb(212, 213, 214);
  border-radius: 100px;
  /* filter: blur(1px); */

  /* transition: all; */
}
.rotating-outline::after {
  display: grid;
  content: "";
  position: absolute;
  place-self: center;
  /* outline: 4px dotted rgba(0, 0, 0, 0.5); */
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  animation: rotating-dots 10s linear infinite;
}

/* Add this to your global CSS file */
.react-date-range {
  width: 100% !important; /* Ensure the calendar takes full width */
}

.react-date-range .rdrDefinedRangesWrapper {
  display: none; /* Hide predefined ranges on mobile */
}

.react-date-range .rdrDateDisplayWrapper {
  font-size: 14px; /* Adjust font size for better readability */
}

@media (max-width: 768px) {
  .react-date-range .rdrMonthsHorizontal {
    flex-direction: column; /* Stack months vertically on small screens */
  }
}
